
body{
    background-image: url("https://cdn.discordapp.com/attachments/1042143501023977484/1047327132994523196/background.png");
}
h1{
    text-align: center;
    padding: 2%;
    font-family: Arial;
}
table{
    width: 100%;
    margin-right: 20px;
}
a:link{
    text-decoration: none;
}
a{
    margin:0px;
}
tr{
    margin-bottom: 20px;
    margin-left: 0px;
}
td{
    margin-left: 0px;
}


.boxSelection{

    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    width: 70%;


}
.insideBox{
    padding: 20%;
    width: 200px;
    margin: 0px;
    background-color:  rgb(129, 172, 221);
    text-align: center;
    color: black;
    font-family: Arial;
    white-space: nowrap; 
    float:left;

}

.insideBox:hover{
    background-color: gray;
    color: darkblue;
    pointer-events: all;

}