<!DOCTYPE html>
<html lang="en">
<head>


{% load static %}
    <link rel="stylesheet" href="{% static 'CreateAccount.css' %}">
    
</head>

<body>
    <nav>

        <ul class="navlinks">
            <li><a href="/supervisorHomepage/">Homepage</a></li>
            <li><a href="/viewCourses/">My Courses</a></li>
            <li><a href="/viewAllCourses/">View Courses</a></li>
            <li><a href="/MyAccount/">My Account</a></li>
            <li><a href="/viewAccounts/">View Accounts</a></li>
            <li><a href="/notification/">Mailbox</a></li>
        </ul>
    </nav>
    <br></br>
    <h1>Create an Account: </h1>
    <div  class="form">
    <form action = "/CreateAccount/" method="post">
                {% csrf_token %}

        <p>
            <label for="fullName">Enter User's Full Name: </label>
            <input type="text" name="fullName">
        </p>
      <p>
            <label for="role">Select User's Role:</label>
              <select name="role" id="role">
                <option value="Supervisor">Supervisor </option>
                <option value="Instructor">Instructor</option>
                <option value="TA">TA</option>
              </select>
        </p>
        <p>
            <label for="username">Enter a Username: </label>
            <input type="text" name="username">
        </p>

        <p>
            <label for="password">Choose a Password: </label>
            <input type="text" name="password">
        </p>
        <p>
            <label for="passwordCheck">Re-type Password: </label>
            <input type="text" name="passwordCheck">
        </p>
        <button type="submit"> Create </button>

      <div class = "response">
          {% if message != null %}
          <ul>
              <li>
                  {{ message }}
              </li>
          </ul>
           {% endif %}
      </div>

    </form>
    </div>




</body>    

