<!DOCTYPE html>
<html lang="en">
<head>
    
{% load static %}
    <link rel="stylesheet" href="{% static 'viewPages.css' %}">
    
</head>

<body>
   <nav>
        <ul class="navlinks">
            <li><a href="/supervisorHomepage/">Homepage</a></li>
            <li><a href="/viewCourses/">My Courses</a></li>
            <li><a href="/viewAllCourses/">View Courses</a></li>
            <li><a href="/MyAccount/">My Account</a></li>
            <li><a href="/viewAccounts/">View Accounts</a></li>
            <li><a href="/notification/">Mailbox</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
    <br></br>
    <h1>Create a Course:</h1>
    <div  class="form">


    
        <form action = "/CreateCourse/" method="post">
                {% csrf_token %}
    <p>
        <label for="course_name">Course Name: </label>
        <input type="text" name="course_name">

        <label for="instructor">Instructor: </label>
        <select name="instructor" id="instructor">
            {% for x in Instructors %}
                <option value={{ x.username }}>{{ x.username }} </option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label for="location">Location:</label>
        <input type="text" name="location">

        <label for="semester">Semester: </label>
                <select name="semester" id="semester">

=               <option value="Fall">Fall </option>
                <option value="Winter">Winter </option>
                <option value="Spring">Spring </option>
                <option value="Summer">Summer </option>
                </select>

    </p>
    <p>
        <label for="time_start">Start Time: </label>
        <input type="time" id="time_start" name="time_start"
            min="00:00" max="24:00" required>

        <label for="time_end">End Time: </label>
        <input type="time" id="time_end" name="time_end"
            min="00:00" max="24:00" required>
    </p>

    <p>
        <label for="days">Days of Week: </label>
        <select name="days" id="days">
                <option value="Monday">Monday </option>
                <option value="Tuesday">Tuesday </option>
                <option value="Wednesday">Wednesday </option>
                <option value="Thursday">Thursday </option>
                <option value="Friday">Friday </option>
                <option value="Monday Wednesday">Monday Wednesday </option>
                <option value="Monday Wednesday Friday">Monday Wednesday Friday</option>
                <option value="Tuesday Thursday">Tuesday Thursday</option>
        </select>

    <p>
          {{ message }}
    </p>
            <button type="submit"> Create </button>
        </form>
    </div>
</body>
