<!DOCTYPE html>
<html lang="en">
<head>
    
{% load static %}
    <link rel="stylesheet" href="{% static 'viewPages.css' %}">
    
</head>
 
<body>
    <title>Create a Lab Section</title>
   <nav>
        <ul class="navlinks">
            <li><a href="/supervisorHomepage/">Homepage</a></li>
            <li><a href="/viewCourses/">My Courses</a></li>
            <li><a href="/viewAllCourses/">View Courses</a></li>
            <li><a href="/MyAccount/">My Account</a></li>
            <li><a href="/viewAccounts/">View Accounts</a></li>
            <li><a href="/notification/">Mailbox</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
    <br></br>
    <h1>Create a Lab Section</h1>
    <div class="form">
        <p>
            <label for="course">Select a Course for the Lab Section: </label>
            <input type="text" name="course">
        </p>
        <p>
            <label for="TA">Select a TA for the Lab Section: </label>
            <input type="text" name="TA">
        </p>
        <p>
            <label for="day">Select a Day for the Lab Section: </label>
            <select name="day" id="day">
            <option value="M">M</option>
            <option value="M">T</option>
            <option value="W">W</option>
            <option value="TR">TR</option>
            <option value="F">F</option>
          </select>
        </p>
        <p>
            <label for="startTime">Select a Start-Time of the Lab Section: </label>
            <input type="time" name="startTime">
        </p>
        <p>
            <label for="endTime">Select an End-Time of the Lab Section: </label>
            <input type="time" name="endTime">
        </p>
        <p>
            <label for="">Enter a Location for the Lab Section: </label>
            <input type="text" name="location">
        </p>
    </div>

    <button> Create </button>



</body>
