<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="CreateAccount.css" rel ="stylesheet" type = "text/css" />
    
</head>

<body>
    <nav>
        <ul class="navlinks">
            <li><a href="LoginPage.html">Homepage</a></li>
            <li><a href="viewCourses.html">My Courses</a></li>
            <li><a href="viewAllCourses.html">View Courses</a></li>
            <li><a href="MyAccount.html">My Account</a></li>
            <li><a href="viewAccounts.html">View Accounts</a></li>
            <li><a href="notification.html">Mailbox</a></li>
        </ul>
    </nav>
    <br></br>
    <h1>Create an Account:</h1>
    <div  class="form">


        <p>
            <label for="fullName">Enter User's Full Name: </label>
            <input type="text" name="fullName">
        </p>
        <p>
            <label for="role">Enter User's Role: </label>
            <input type="text" name="role">
        </p>
        <p>
            <label for="userName">Enter a Username: </label>
            <input type="text" name="userName">
        </p>
    
        <p>
            <label for="password">Choose a Password: </label>
            <input type="text" name="password">
        </p>
        <p>
            <label for="passwordCheck">Re-type Password: </label>
            <input type="text" name="passwordCheck">
        </p>

    </div>

    <button> Create </button>


</body>    

