<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Homepage</title>
  <link rel="icon" href="PLACEHOLDER.jpg" > <!--PLACEHOLDER.jpg HERE--> 
{% load static %}
    <link rel="stylesheet" href="{% static 'instructorHomepageStyles.css' %}">
</head>
<body>
    <h1>Instructor Homepage</h1>
    <table>
        <tr>
            <td>
                <div class="boxSelection">
                    <a href="viewCourses.html">
                        <div class="insideBox">
                            View Courses
                        </div>
                    </a>
            </div>
            </td>
            <td>
                <div class="boxSelection">
                    <a href="viewAccounts.html">
                        <div class="insideBox">
                            View Accounts
                        </div>
                    </a>
            </div>
            </td>
            
        </tr>
        <tr>
            
            <td>
                <div class="boxSelection">
                    <a href="MyAccount.html">
                        <div class="insideBox">
                            My Account
                        </div>
                    </a>
            </div>
            </td>
           
            <td>
                <div class="boxSelection">
                    <a href="notification.html">
                        <div class="insideBox">
                            Mailbox
                        </div>
                    </a>
            </div>
            </td>
            
        </tr>
        
    </table>
    

</body>
</html>