<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Homepage</title>
  <link rel="icon" href="PLACEHOLDER.jpg" > <!--PLACEHOLDER.jpg HERE--> 
{% load static %}
    <link rel="stylesheet" href="{% static 'supervisorHomepageStyles.css' %}">
</head>
<body>
     <h1>Welcome, {{ username }}</h1>
     <button><a href="/">Logout</a></button>
    <table>
        <tr>
            <td>
                <div class="boxSelection">
                    <a href="/viewCourses/">
                        <div class="insideBox">
                            View Courses
                        </div>
                    </a>
            </div>
            </td>
            <td>
                <div class="boxSelection">
                    <a href="/viewAccounts/">
                        <div class="insideBox">
                            View Accounts
                        </div>
                    </a>
            </div>
            </td>
            
        </tr>
        <tr>
            
            <td>
                <div class="boxSelection">
                    <a href="/MyAccounts/">
                        <div class="insideBox">
                            My Account
                        </div>
                    </a>
            </div>
            </td>
           
            <td>
                <div class="boxSelection">
                    <a href="/notification/">
                        <div class="insideBox">
                            Mailbox
                        </div>
                    </a>
            </div>
            </td>
            
        </tr>
        
    </table>
    

</body>
</html>
