<!DOCTYPE html>
<html lang="en">
<head>
    
    <link href="LoginPage.css" rel ="stylesheet" type = "text/css" />

</head>
<body>
<title>Login</title>
    <div  class="form">
    <h1>LOGIN</h1>
    
    <input type="text" name="Username" placeholder="Account Name">
    <input type="password" name="" placeholder="Password">
    <button>Enter</button>

    
    <p class="link">Don't have an account?
        <br>
        Make one <a href="#">here. </a>  </br>
    </p>
    </div>
    
</body>
</html>