<!DOCTYPE html>
<html lang="en">
<head>
    <link href="MyAccount.css" rel ="stylesheet" type = "text/css" />
</head>

<body>
<title>My Account</title>
<div  class="form">

    <h1>My Account
    <div class="homelink"><a href="/">Homepage</a></div>
    </h1>
    <br></br>
    <!--Get user information-->
        <div><a>Username: </a>{{ username }}</div>
        <div><a>Full Name: </a> {{ full_name }}</div>
        <div><a>Role: </a>{{ role }}</div>
        <div><a>Contact Information: </a>{{ email }}</div>
    <!--For professors and TAs only-->
    <div><a>Courses: </a>N/A</div>
    <br></br>
    <button>Edit Information</button>
    

</body>