*{
    margin: 0;
    padding: 0;
    font-family: sans-serf

}
body{
    background-position: center;
    height: 100vh;
    background-image:url("https://cdn.discordapp.com/attachments/1042143501023977484/1047327132994523196/background.png");
    font-family: arial, sans-serif;
    background-size: cover;
}
h1{
    font-family: Arial;
    text-align: center;
}
link{
    text-align:center;
    font-family: Arial;
}
a{
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
}
div{
    padding: 20px;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
}
button{
    font-size: 18px;
    font-family: Arial;
    text-align: center;
    padding: 18px;
    margin: 22px 100px;
    display: inline-block;
    width: 50px 50px;
}


