<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <link rel="stylesheet" href="{% static 'MyAccount.css' %}">
</head>

<body>
    <nav>
        <ul class="navlinks">
            <li> {% if role == "Supervisor" %}
                <a href="/supervisorHomepage/">Homepage</a>

                {%  elif role == "Instructor" %}
                <a href="/instructorHomepage">Homepage</a>

                {% elif role == "TA" %}
                <a href="/TAHomepage">Homepage</a>
                {% endif %}
            </li>
            <li><a href="/viewCourses/">My Courses</a></li>
            <li><a href="/viewAllCourses/">View Courses</a></li>
            <li><a href="/MyAccount/">My Account</a></li>
            <li><a href="/viewAccounts/">View Accounts</a></li>
            <li><a href="/notification/">Mailbox</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
<div  class="form">

    <h1>{{ sec.course }} {{ sec.section_num }}

    </h1>
    <br></br>

    <form action = "/sectionTA/" method = "post">

        <div><a class="field">TA: </a> <select name="ta" id="ta">
            {% for x in tas %}
                <option required value={{ x.username }}>{{ x.username }} </option>
            {% endfor %}
        </select></div>

        {% csrf_token %}
         <button name="secsub" value="{{ sec.section_num }}" type="submit">Edit Information</button>
    <!--For professors and TAs only-->
    </form>
    <br></br>

</div>
</body>
