<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'supervisorHomepageStyles.css' %}">

  <meta charset="utf-8">
  <title>Homepage</title>
  <link rel="icon" href="PLACEHOLDER.jpg" > <!--PLACEHOLDER.jpg HERE--> 
</head>
<body>
<form action = "/MyAccount/" method = "get">
    <h1> {{ role }} Homepage</h1>

    <table>
        <tr>
            <td>
                <div class="boxSelection">
                    <a href="/viewAllCourses/">
                        <div class="insideBox">
                            View Courses
                        </div>
                    </a>
            </div>
            </td>
            <td>
                <div class="boxSelection">
                    <a href="/viewAccounts/">
                        <div class="insideBox">
                            View Accounts
                        </div>
                    </a>
            </div>
            </td>
            <td>
                <div class="boxSelection">
                    <a href="/MyAccount/">
                        <div class="insideBox">
                            My Account
                        </div>
                    </a>
            </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="boxSelection">
                    <a href="/CreateCourse/">
                        <div class="insideBox">
                            Create Course
                        </div>
                    </a>
            </div>
            </td>

            <td>
                <div class="boxSelection">
                    <a href="/CreateAccount/">
                        <div class="insideBox">
                            Create Account
                        </div>
                    </a>
            </div>
            </td>
            <td>
                <div class="boxSelection">
                    <a href="/CreateLabSection/">
                        <div class="insideBox">
                            Create Lab Section
                        </div>
                    </a>
            </div>
            </td>


    </tr>
    <tr>
        <td>
            <div1 class="boxSelection"></div1>
        </td>
        <td>
            <div class="boxSelection">
                <a href="/notification/">
                    <div class="insideBox">
                        Mailbox
                    </div>
                </a>
            </div>
        </td>
        <td>
            <div1 class="boxSelection"></div1>
        </td>
    </tr>
    </table>
    
</form>
</body>
</html>
