<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <link rel="stylesheet" href="{% static 'MyAccount.css' %}">
</head>

<body>
    <nav>
        <ul class="navlinks">
            <li> {% if role == "Supervisor" %}
                <a href="/supervisorHomepage/">Homepage</a>

                {%  elif role == "Instructor" %}
                <a href="/instructorHomepage">Homepage</a>

                {% elif role == "TA" %}
                <a href="/TAHomepage">Homepage</a>
                {% endif %}
            </li>
            <li><a href="/viewCourses/">My Courses</a></li>
            <li><a href="/viewAllCourses/">View Courses</a></li>
            <li><a href="/MyAccount/">My Account</a></li>
            <li><a href="/viewAccounts/">View Accounts</a></li>
            <li><a href="/notification/">Mailbox</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
<div  class="form">

    <h1>{{ course.course_name }}

    </h1>
    <br></br>
        <div><a class="field">Course Name: </a>{{ course.course_name }}</div>
        <div><a class="field">Instructor: </a> {{ course.instructor}}</div>
        <div><a class="field">Days: </a>{{ course.days }}</div>
        <div><a class="field">Time Start: </a>{{ course.time_start }}</div>
        <div><a class="field">Time End: </a> {{ course.time_end }}</div>
        <div><a class="field">Location: </a>{{ course.location }}</div>
        <div><a class="field">Sections: </a>
            {% for x in labs %}
                <form action = "/viewCourse/" method = "post">
                         {% csrf_token %}

                <button name="secsub" value="{{ x.section_num }}" type="submit">{{ x.section_num }}</button>
                </form>
            {% endfor %}</div>
    <!--Get user information-->

    <!--For professors and TAs only-->

    <br></br>
     <form action = "/viewCourse/" method="post">
         {% csrf_token %}
         <button name="coursesub" value="{{ course.course_name }}" type="submit">Edit Information</button>
                    </form>

</div>
</body>
