<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>View Accounts</title>
  <link rel="icon" href="PLACEHOLDER.jpg" > <!--PLACEHOLDER.jpg HERE--> 
{% load static %}
    <link rel="stylesheet" href="{% static 'viewContent.css' %}">
</head>
<body>
    <nav>
        <ul class="navlinks">
            <li><a href="TAHomepage.html">Homepage</a></li>
            <li><a href="viewCourses.html">My Courses</a></li>
            <li><a href="viewAllCourses.html">View Courses</a></li>
            <li><a href="MyAccount.html">My Account</a></li>
            <li><a href="viewAccounts.html">View Accounts</a></li>
            <li><a href="notification.html">Mailbox</a></li>
        </ul>
    </nav>
    <h1>View Courses</h1>
    <div class="linkbox homelink"><a href="/">Homepage</a></div>
<div class="container">
<div class="instructor">
<form>
    <h2>My Courses:</h2>
    <div class="linkbox">
        <a href = "viewAllCourses.html">View all courses</a>
    </div>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Instructors</th>
            <th>TAs</th>
            <th>External Links</th>
        </tr>

            <tr>
                <td>
                    CS 555
                </td>
                <td>
                    John Smith, Will Rock
                </td> 
                <td>
                    John Johnson
                </td>  
                <td>
                    <a href="/">View Course Page</a>
                </td>
            </tr>
            <tr>
                <td>
                    CS 420
                </td> 
                <td>
                    Bob Johnson, Will Rock
                </td>
                <td>
                    Don Thomson
                </td>  
                <td>
                    <a href="/">View Course Page</a>
                </td>
            </tr>
            <tr>
                <td>
                    CS 729
                </td> 
                <td>
                    Dan Williams, Will Rock
                </td>
                <td>
                    Tom Donson
                </td>  
                <td>
                    <a href="/">View Course Page</a>
                </td>
            </tr>

    </table>
    </form>

</div>
<div class="linkbox">
    <a href = "#top">Back to top</a>
</div>
</body>
</html>