<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <link rel="stylesheet" href="{% static 'MyAccount.css' %}">
</head>

<body>
    <nav>
        <ul class="navlinks">
            <li> {% if role == "Supervisor" %}
                <a href="/supervisorHomepage/">Homepage</a>

                {%  elif role == "Instructor" %}
                <a href="/instructorHomepage">Homepage</a>

                {% elif role == "TA" %}
                <a href="/TAHomepage">Homepage</a>
                {% endif %}
            </li>
            <li><a href="/viewCourses/">My Courses</a></li>
            <li><a href="/viewAllCourses/">View Courses</a></li>
            <li><a href="/MyAccount/">My Account</a></li>
            <li><a href="/viewAccounts/">View Accounts</a></li>
            <li><a href="/notification/">Mailbox</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
<div  class="form">

    <h1>{{ sec.course }} {{ sec.section_num }}

    </h1>
    <br></br>
    <form action = "/MyAccount/" method = "get">
        <div><a class="field">Section Number: </a>{{ sec.section_num }}</div>
        <div><a class="field">Instructor: </a> {{ sec.ta}}</div>
        <div><a class="field">Days: </a>{{ sec.days }}</div>
        <div><a class="field">Time Start: </a>{{ sec.time_start }}</div>
        <div><a class="field">Time End: </a> {{ sec.time_end }}</div>
        <div><a class="field">Location: </a>{{ sec.location }}</div>

    </form>
    <!--Get user information-->

    <!--For professors and TAs only-->

    <br></br>
     <form action = "/viewSection/" method="post">
         {% csrf_token %}
         <button name="secsub" value="{{ sec.section_num }}" type="submit">Edit Information</button>
                    </form>

</div>
</body>
