<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>View Accounts</title>
  <link rel="icon" href="PLACEHOLDER.jpg" > <!--PLACEHOLDER.jpg HERE--> 
  <link rel="stylesheet" href="viewAccounts.css"> 
</head>
<body>
<form>
    <h2>Instructors:</h2>
    <table>
        <!--{% for i in things %}--> 
            <tr>
                <td>
                    Smith, CS 555, jsmith
                </td> 
            </tr>
            <tr>
                <td>
                    Bob Johnson, CS 420, bjohnson
                </td>
            </tr>
            <tr>
                <td>
                    Dan Williams, CS 729, dwilliams
                </td>
            </tr>
        <!--{% endfor %}--> 
    </table>
    <h2>TAs:</h2>
    <table>
        <!--{% for i in things %}--> 
            <tr>
                <td>
                    John Johnson, CS 555, jjohnson
                </td>
            </tr>
            <tr>
                <td>
                    Don Thomson, CS 420, dthomson
                </td>
            </tr>
            <tr>
                <td>
                    Tom Donson, CS 729, tdonson
                </td>
            </tr>
        <!--{% endfor %}--> 
    </table>
    
</form>

</body>
</html>