<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>View Accounts</title>
  <link rel="icon" href="PLACEHOLDER.jpg" > <!--PLACEHOLDER.jpg HERE--> 
{% load static %}
    <link rel="stylesheet" href="{% static 'viewContent.css' %}">
</head>
<body>
    <nav>
        <ul class="navlinks">
              <li>
                {% if role == "Supervisor" %}
                <a href="/supervisorHomepage/">Homepage</a>

                {%  elif role == "Instructor" %}
                <a href="/instructorHomepage">Homepage</a>

                {% elif role == "TA" %}
                <a href="/TAHomepage">Homepage</a>
                {% endif %}
            </li>
            <li><a href="/viewCourses/">My Courses</a></li>
            <li><a href="/viewAllCourses/">View Courses</a></li>
            <li><a href="/MyAccount/">My Account</a></li>
            <li><a href="/viewAccounts/">View Accounts</a></li>
            <li><a href="/notification/">Mailbox</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
    <div class="content">


    <h1>My Courses</h1>
    <div class="linkbox homelink"><a href="/">Homepage</a></div>
<form>
    <h2>Courses:</h2>
    <div class="linkbox">
        <a href = "/viewAllCourses/">View all courses</a>
    </div>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Instructors</th>
            <th>TAs</th>
            <th>External Links</th>
        </tr>
{% for x in courses %}
            <tr>
                <td>
                    {{ x.course_name}}
                </td>
                <td>
                    {{ x.instructor }}
                </td>
                <td>
                    TA TBA
                </td>
                <td>
                    <a href="/">View Course Page</a>
                </td>
            </tr>
        {% endfor %}

    </table>
    </form>

<div class="linkbox">
    <a href = "#top">Back to top</a>
</div>
    </div>
</body>
</html>
