
body{
    background-image:url("background.png");
    font-family: arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  h1{
    font-size:xxx-large;
    text-align: center;
  }

  .linkbox{
    padding:15px;
    width:fit-content;
    margin-top: 10px;
  }
  .homelink{
    margin: auto;
    text-align: center;
    padding:10px;
  }