.containter{
    display: flex;
}
.instructor{
    flex:1;
}
.TA{
    flex:1;
}
body{
    font-family: arial, sans-serif;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  h1{
    font-size:xxx-large;
    text-align: center;
  }
  .homelink{
    text-align: center;
  }
  button{
    margin: 10px;
  }