<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <link rel="stylesheet" href="{% static 'MyAccount.css' %}">
</head>

<body>
    <nav>
        <ul class="navlinks">
            <li> {% if role == "Supervisor" %}
                <a href="/supervisorHomepage/">Homepage</a>

                {%  elif role == "Instructor" %}
                <a href="/instructorHomepage">Homepage</a>

                {% elif role == "TA" %}
                <a href="/TAHomepage">Homepage</a>
                {% endif %}
            </li>
            <li><a href="/viewCourses/">My Courses</a></li>
            <li><a href="/viewAllCourses/">View Courses</a></li>
            <li><a href="/MyAccount/">My Account</a></li>
            <li><a href="/viewAccounts/">View Accounts</a></li>
            <li><a href="/notification/">Mailbox</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
<div  class="form">

    <h1>My Account

    </h1>
    <br></br>
    <form action = "/MyAccount/" method = "get">
        <div><a class="field">Username: </a>{{ username }}</div>
        <div><a class="field">Full Name: </a> {{ full_name}}</div>
        <div><a class="field">Role: </a>{{ role }}</div>
        <div><a class="field">Contact Information: </a>{{ email }}</div>
        <div><a class="field">Courses: </a>{% for x in courses %} {{ x.course_name }}, {% endfor %}</div>
        <div><a class="field">Labs: </a>{% for x in sections %} {{ x.course.course_name }} {{ x.section_num }}, {% endfor %}</div>
    </form>
    <!--Get user information-->

    <!--For professors and TAs only-->

    <br></br>
    <button>Edit Information</button>

</div>
</body>
