<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>View Accounts</title>
  <link rel="icon" href="PLACEHOLDER.jpg" > <!--PLACEHOLDER.jpg HERE--> 
  <link rel="stylesheet" href="viewContent.css"> 
</head>
<body>
    <nav>
        <ul class="navlinks">
            <li><a href="/">Homepage</a></li>
            <li><a href="/">My Courses</a></li>
            <li><a href="/">View Courses</a></li>
            <li><a href="/">My Account</a></li>
            <li><a href="/">View Account</a></li>
            <li><a href="/">Mailbox</a></li>
        </ul>
    </nav>
    <h1>View Accounts</h1>
    <div class="linkbox homelink"><a href="/">Homepage</a></div>
<div class="container">
<div class="instructor">
<form>
    <h2>Instructors:</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Classes</th>
            <th>Email</th>
        </tr>
        <!--{% for  in database %}--> 
            <tr>
                <td>
                    John Smith
                </td>
                <td>
                    CS 555
                </td> 
                <td>
                    jsmith
                </td>  
            </tr>
            <tr>
                <td>
                    Bob Johnson
                </td>
                <td>
                    CS 420
                </td> 
                <td>
                    bjohnson
                </td>  
            </tr>
            <tr>
                <td>
                    Dan Williams
                </td>
                <td>
                    CS 729
                </td> 
                <td>
                    dwilliams
                </td>  
            </tr>
        <!--{% endfor %}--> 
    </table>
    </form>
</div>
    <div class="TA">
    <form>
    <h2>TAs:</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Classes</th>
            <th>Email</th>
        </tr>
        <!--{% for  in database %}--> 
            <tr>
                <td>
                    John Johnson
                </td>
                <td>
                    CS 555
                </td> 
                <td>
                    jjohnson
                </td>  
            </tr>
            <!--{% endfor %}--> 
            <tr>
                <td>
                    Don Thomson
                </td>
                <td>
                    CS 420
                </td> 
                <td>
                    dthomson
                </td>  
            </tr>
            <tr>
                <td>
                    Tom Donson
                </td>
                <td>
                    CS 729
                </td> 
                <td>
                    tdonson
                </td>  
            </tr>
        
    </table>
    
</form>
</div>
</div>
<div class="linkbox">
    <a href = "#top">Back to top</a>
</div></body>
</html>