<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>View Accounts</title>
  <link rel="icon" href="PLACEHOLDER.jpg" > <!--PLACEHOLDER.jpg HERE--> 
{% load static %}
    <link rel="stylesheet" href="{% static 'viewContent.css' %}">
</head>
<body>
    <nav>
        <ul class="navlinks">
              <li>
                {% if role == "Supervisor" %}
                <a href="/supervisorHomepage/">Homepage</a>

                {%  elif role == "Instructor" %}
                <a href="/instructorHomepage">Homepage</a>

                {% elif role == "TA" %}
                <a href="/TAHomepage">Homepage</a>
                {% endif %}
            </li>
            <li><a href="/viewCourses/">My Courses</a></li>
            <li><a href="/viewAllCourses/">View Courses</a></li>
            <li><a href="/MyAccount/">My Account</a></li>
            <li><a href="/viewAccounts/">View Accounts</a></li>
            <li><a href="/notification/">Mailbox</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
    <div class="content">
    <h1>View Accounts</h1>

<div class="instructor">
<form>
    <h2>Instructors:</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Classes</th>
            <th>Email</th>
        </tr>
            <tr>
                <td>
                    John Smith
                </td>
                <td>
                    CS 555
                </td> 
                <td>
                    jsmith
                </td>  
            </tr>
            <tr>
                <td>
                    Bob Johnson
                </td>
                <td>
                    CS 420
                </td> 
                <td>
                    bjohnson
                </td>  
            </tr>
            <tr>
                <td>
                    Dan Williams
                </td>
                <td>
                    CS 729
                </td> 
                <td>
                    dwilliams
                </td>  
            </tr>
    </table>
    </form>
</div>
    <div class="TA">
    <form>
    <h2>TAs:</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Classes</th>
            <th>Email</th>
        </tr>
            <tr>
                <td>
                    John Johnson
                </td>
                <td>
                    CS 555
                </td> 
                <td>
                    jjohnson
                </td>  
            </tr>
            <tr>
                <td>
                    Don Thomson
                </td>
                <td>
                    CS 420
                </td> 
                <td>
                    dthomson
                </td>  
            </tr>
            <tr>
                <td>
                    Tom Donson
                </td>
                <td>
                    CS 729
                </td> 
                <td>
                    tdonson
                </td>  
            </tr>
        
    </table>
    
</form>
</div>
</div>
<div class="linkbox">
    <a href = "#top">Back to top</a>
</div></body>
</html>
